@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Rochester');
h1{
font-size:60px;
font-family: 'Alex Brush', cursive;
}
h2{
  font-size: 20px;
}
h3{
  font-family: 'Rochester', cursive;
  font-size: 25px ;
}
body {
  font-family: 'Amatic SC', cursive;
}
p{
  font-size: 35px;
}
a{
  font-size: 30px;
}
#one {
  text-align: center;
}
#top {
  text-align: center;
}
}
