
body{
  text-align: center;

}
h1 {
  font-size: 60px;
}
.button {
    background-color:cyan;
    border: none;
    color: black;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 6px 4px;
    cursor: pointer;
}
